{% extends "layout/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock style %}


{% block title %}
  Password Reset
{% endblock title %}

{% block content %}
  <div style="height:80vh" class="mt-5  d-flex justify-content-center align-items-center">
    <div class=" col-lg-6  col-md-8 col-11 p-5 rounded" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
        <h1 class=" text-center mb-3 text-dark ">Password Reset</h1>
        <form method="POST" >
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div id="alert-container" class="alert alert-danger alert-dismissible fade show w-100 d-flex justify-content-between align-content-center " role="alert">
                <ul class="messages">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                <button id="dismiss-alert" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="fa-regular fa-circle-xmark fa-xl"></i></button>
            </div>
            
            {% endif %}
            <div class="mt-3">
                {{ form.email.errors | safe }}
                <label for="email">Email</label>
                {% render_field form.email placeholder="Enter the email linked to your account" id="email" name="email" type="email" autocomplete="email"  class="relative block w-full px-3 py-2 text-gray-900 placeholder-gray-500 border border-gray-300 rounded-none appearance-none rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %}
              </div>

            <button class="btn btn-success w-100 mt-4 fw-bold " type="submit">Reset Password</button> 
        </form>
    </div>
  </div>
  
{% endblock content %}

{% block srcipt %}
<script>

</script>

    

{% endblock srcipt %}