{% if messages %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      {% for message in messages %}
      console.log('{{message.tags}}');
        {% if message.tags == 'success' %}
          swal({
            title: '{{ message }}',
            icon: 'success',
            showConfirmButton: true,
          });
        {% elif message.tags == 'error' %}
          swal({
            title: '{{ message }}',
            icon: 'error',
            showConfirmButton: true,
          });
        {% elif message.tags == 'warning' %}
          swal({
            title: '{{ message }}',
            icon: 'warning',
            showConfirmButton: true,
          });
        {% else %}
          swal({
            title: '{{ message }}',
            icon: 'success',
            showConfirmButton: true,
          });
        {% endif %}
      {% endfor %}
    });
  </script>
{% endif %}
